.App {
  padding: 0 10%;
  height: 100vh;
}

.slider-container {
  background: lightskyblue;
  height: inherit;
  white-space: nowrap;
  display: flex;
  position: relative;
  scroll-behavior: smooth;
}

.desktop-slider-container {
  overflow: hidden;
}

.mobile-slider-container {
  overflow-x: scroll;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.poster-item {
  height: 500px;
  width: 250px;
  background: violet;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 15px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.arrow {
  position: absolute;
  top: 230px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px seagreen solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  background: tomato;
}

.left-arrow {
  left: 5%;
}

.right-arrow {
  right: 5%;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
