.App {
  padding: 0 10%;
  height: 100vh;
}

.slider-container {
  background: lightskyblue;
  height: inherit;
  white-space: nowrap;
  overflow-y: hidden;
  display: flex;
  scroll-behavior: smooth;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.poster-item {
  height: 500px;
  width: 250px;
  background: violet;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 15px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
